################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CommandDispatcher/.vs
/CommandDispatcher/bin/Debug/net7.0
/CommandDispatcher/obj
/ConcurrencyAndThreading/bin/Debug/net9.0
/ConcurrencyAndThreading/ConcurrencyAndThreading.Tests/bin
/ConcurrencyAndThreading/ConcurrencyAndThreading.Tests/obj
/ConcurrencyAndThreading/obj
